.margin{
    margin-bottom: 2rem;
}

.form-controls{
    padding: 0.6rem;
}

.form-control{
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.form-control:not(:last-child) {
    margin-bottom: 1.6rem;
}

.form-control label{
    font-weight: bold;
}

.form-control input {
    padding: .4rem;
}